
hr{
    border: 1px black solid;
 }
 
 p,a{
    font-family: sans-serif;
    color: black;
    text-decoration: none;
 }
 
 body{
    margin: 0;
    padding: 0;
    background: rgb(255,118,10);
    background: linear-gradient(0deg, rgba(255,118,10,0.8) 28%, rgba(255,255,255,1) 69%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 
  } 
 
  @media screen and (min-width: 640px) {
    .flex-container {
        display: flex;
    }
 }
 
  /* ----------------------------------------------------- */
  .HeaderContainer {
    font-family:sans-serif;
    font-size: 25px;
    font-weight:900;
    color: black;
    padding: 20px 0;
    display: flex; 
    justify-content: center;
    
  }
  
  .Header {
     width: 1200px;
     display: flex; 
     justify-content: space-between; 
     align-items: center;
  }
 
  .logo{
    margin-left: 10px;
    max-width: 100%;
    height: auto;
 }
 
 /* ----------------------------------------------------- */
  .LinksContainer {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
       .menu{
          max-width: 100%;
          height: auto;
       }
 

 /* ----------------------------------------------------- */
 .TrabajosContainer{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: black;
 }
 
 
 .img-galeria {
    width: 100%;
  }
  
  .masonry {
      column-count: 4;
      column-gap: 16px;
  }
  
  .masonry .mItem {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
  }
  
  @media (max-width: 1199px) {
    .masonry {
      column-count: 3;
    }
  }
  
  @media (max-width: 991px) {
    .masonry {
      column-count: 2;
    }
  }
  
  @media (max-width: 767px) {
    .masonry {
      column-count: 1;
    }
  }

  .FondoDecoracion{
    background-image: url("SRC/Decoracion_Fondo2.svg");
    background-size: 2300px;
    background-blend-mode: darken;
    background-position:center;
    background-position-y: 1%;
   }
 /* ----------------------------------------------------- */
 .botonContactos{
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
 
 }
 
 .Copyright {
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
 
  /* ----------------------------------------------------- */
  @media (max-width: 768px) {

    .TrabajosContainer{
      font-size: 20px;
   }
 
 }