<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S&C</title>
    <link rel="icon" href="SRC/Logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <div class="StartScreen">
        <!-- Click en el logo o el texto para avanzar -->
    <a href="Home Page.html" style="background-color: transparent; width: 10000px; height: 300px;"></a>
    </div>
    
</body>
</html>